* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#wrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
  /*display: flex;
  flex-direction: row;*/
}

.row {
  clear: both;
}

.half {
  width: 50%;
  float: left;
}

.third {
  width: 33%;
  float: left;
}

.header {
  margin: 0px;
  text-align: center;
}

.forecast {
  padding-top: 8px;
  font-size: 1.2em;
  text-align: right;
}

.date {
  padding-top: 8px;
  font-size: 1.2em;
}

/*.card {
  flex: auto;
  border: 1px solid #dddddd;
  border-radius: 12px;
  padding: 0px 6px;
}*/
